<mat-toolbar color="accent" class="bottom-toolbar">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="emitToggleSidenav()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <button type="button" routerLink="/" mat-icon-button>
    <mat-icon aria-label="Side nav toggle icon">roofing</mat-icon>
  </button>
  <button type="button" routerLink="/plant/all" mat-icon-button>
    <mat-icon aria-label="Side nav toggle icon">forest</mat-icon>
  </button>
  <button type="button" mat-icon-button>
    <mat-icon aria-label="Side nav toggle icon">task</mat-icon>
  </button>
  <button type="button" routerLink="/user" mat-icon-button>
    <ng-container *ngIf="auth.user$ | async as user; else noUser">
      <div
        *ngIf="user.avatar"
        class="bottom-toolbar__avatar"
        [ngStyle]="{ 'background-image': 'url(' + this.imagePath.get(user.avatar, 'thumb') +')' }"
      >
      </div>
    </ng-container>
    <ng-template #noUser>
      <mat-icon aria-label="Side nav toggle icon">account_circle</mat-icon>
    </ng-template>
  </button>
</mat-toolbar>