.bottom-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;

  &__avatar {
    width: 24px;
    height: 24px;
    background-size: cover;
    border-radius: 100%;
  }
}