<mat-stepper labelPosition="bottom" editable="true" animationDuration="300">
  <mat-step [stepControl]="formName.form" [errorMessage]="'general.required' | translate" [label]="'general.name' | translate">
    <location-form-name #formName></location-form-name>
    <stepper-navigation backButton="false"></stepper-navigation>
  </mat-step>

  <mat-step optional="true" [label]="'general.picture' | translate">
      <p [innerHTML]="'location-add-edit.choose' | translate"></p>
      <p [innerHTML]="'location-add-edit.ornot' | translate"></p>

      <file-uploader [amount]="1" (fileChange)="fileChange($event)"></file-uploader>

      <stepper-navigation></stepper-navigation>
  </mat-step>

  <mat-step [stepControl]="formLight.form" [label]="'general.light' | translate">
    <location-form-light #formLight></location-form-light>
    <stepper-navigation></stepper-navigation>
  </mat-step>

  <mat-step [stepControl]="formPrivacy.form" [label]="'general.privacy' | translate">
    <location-form-privacy #formPrivacy></location-form-privacy>
    <stepper-navigation finishButton="true" (finish)="submit()"></stepper-navigation>
  </mat-step>
</mat-stepper>
