<form [formGroup]="form">
  <mat-stepper
    labelPosition="bottom"
    linear="true"
    animationDuration="300"
    limitLargeScreen
  >
    <mat-step
      [stepControl]="nameForm"
      [errorMessage]="'general.required' | transloco"
      [label]="'general.name' | transloco"
    >
      <ng-container [formGroup]="nameForm">
        <ltm-location-form-name />
      </ng-container>
      <ltm-stepper-navigation backButton="false" />
    </mat-step>

    <mat-step optional="true" [label]="'general.picture' | transloco">
      <p [innerHTML]="'location-add-edit.choose' | transloco"></p>
      <p [innerHTML]="'location-add-edit.ornot' | transloco"></p>

      <ltm-image-selector
        [source]="newPicture"
        (selected)="selectImage($event)"
      />

      <ltm-stepper-navigation />
    </mat-step>

    <mat-step [stepControl]="lightForm" [label]="'general.light' | transloco">
      <ng-container [formGroup]="lightForm">
        <ltm-location-form-light />
      </ng-container>
      <ltm-stepper-navigation />
    </mat-step>

    <mat-step
      [stepControl]="privacyForm"
      [label]="'general.privacy' | transloco"
    >
      <ng-container [formGroup]="privacyForm">
        <ltm-form-privacy #formPrivacy>
          <p [innerHtml]="'location-add-edit.visibility' | transloco"></p>
          <p [innerHtml]="'location-add-edit.visibilityNote' | transloco"></p>
        </ltm-form-privacy>
      </ng-container>

      @if (!(createLocation$ | async)) {
        <ltm-stepper-navigation finishButton="true" (finish)="submit()" />
      }
    </mat-step>
  </mat-stepper>
</form>
