<mat-stepper labelPosition="bottom" linear="true" animationDuration="300">
  <mat-step
    [stepControl]="formName.form"
    [errorMessage]="'general.required' | translate"
    [label]="'general.name' | translate"
  >
    <ltm-location-form-name #formName />
    <ltm-stepper-navigation backButton="false" />
  </mat-step>

  <mat-step optional="true" [label]="'general.picture' | translate">
    <p [innerHTML]="'location-add-edit.choose' | translate"></p>
    <p [innerHTML]="'location-add-edit.ornot' | translate"></p>

    <ltm-file-uploader maxAmount="1" (fileChange)="fileChange($event)" />

    <ltm-stepper-navigation />
  </mat-step>

  <mat-step
    [stepControl]="formLight.form"
    [label]="'general.light' | translate"
  >
    <ltm-location-form-light #formLight />
    <ltm-stepper-navigation />
  </mat-step>

  <mat-step
    [stepControl]="formPrivacy.form"
    [label]="'general.privacy' | translate"
  >
    <ltm-form-privacy #formPrivacy>
      <p [innerHtml]="'location-add-edit.visibility' | translate"></p>
      <p [innerHtml]="'location-add-edit.visibilityNote' | translate"></p>
    </ltm-form-privacy>

    <ltm-stepper-navigation finishButton="true" (finish)="submit()" />
  </mat-step>
</mat-stepper>
