<ng-container *ngIf="photoService.photo$ | async as photo">
  <toggle-option [checked]="plantCoverId === photo.id" (change)="updateCoverPhoto($event)">
    {{ 'photo.cover' | translate }}
  </toggle-option>
  
  <div class="photo" (swipeleft)="loadPrevPhoto()" (swiperight)="loadNextPhoto()">
    <img #photo draggable="false" [src]="imagePath.get(photo.images, 'full')">
  </div>

  <info-box [description]="photo.description">
    <property icon="event">
      {{ 'general.daysAgo' | translate: { days: (photo.takenAt | daysAgo) } }}
    </property>
    <property [icon]="photo.public ? 'visibility' : 'visibility_off'">
      {{ (photo.public ? 'general.public' : 'general.private') | translate }}
    </property>
  </info-box>
</ng-container>