@if (photoService.photo$ | async; as photo) {
  <ltm-info-box [description]="photo.description">
    <ltm-property icon="event">
      {{ 'general.daysAgo' | transloco: { days: (photo.takenAt | daysAgo) } }}
    </ltm-property>
    <ltm-property [icon]="photo.public ? 'visibility' : 'visibility_off'">
      {{ (photo.public ? 'general.public' : 'general.private') | transloco }}
    </ltm-property>
  </ltm-info-box>
  <ltm-toggle-option
    [checked]="plantCoverId === photo.id"
    (change)="updateCoverPhoto($event)"
  >
    {{ 'photo.cover' | transloco }}
  </ltm-toggle-option>
  
  @if (currentImageFull) {
    <div class="photo">
      <img
        [src]="currentImageFull"
        draggable="false"
        (swiperight)="loadPrevPhoto()"
        (swipeleft)="loadNextPhoto()"
        (click)="toggleViewer()"
      >
    </div>
  }
}