<p>{{ 'tasks.msg' | transloco }}</p>
<mat-list>

  @for (task of taskService.tasks$ | async; track task.id) {
    <mat-list-item matRipple>
      <img
        matListItemAvatar
        [src]="plantService.coverPhoto(task)"
        [routerLink]="['/plant', task.id]"
      >

      <span matListItemTitle [routerLink]="['/plant', task.id]">
        {{ plantService.getVisibleName(task) }}
      </span>

      <div matListItemIcon class="tasks__buttons">
        <ltm-plant-button-water
          [id]="task.id"
          [disabled]="!!(!task.waterNext)"
          (done)="taskService.loadTasks()"
        >
        </ltm-plant-button-water>

        <ltm-plant-button-fertilize
          [id]="task.id"
          [disabled]="!!(!task.fertNext)"
          (done)="taskService.loadTasks()"
        >
        </ltm-plant-button-fertilize>
      </div>
    </mat-list-item>
  } @empty {
    <mat-list-item class="centered">
      <p>{{ 'tasks.noTasks' | transloco }}</p>
    </mat-list-item>
  }

</mat-list>