<form [formGroup]="form">
  <div class="user-form">
    @if (passwordChanged$ | async) {
      <p>
        {{ 'password-reset.passwordChanged' | transloco }}
      </p>
    } @else {
      <h1>{{ 'password-change.desc' | transloco }}</h1>

      <ltm-user-form-password
        [requirements]="pwdRequirements$ | async"
        formControlName="password"
      />

      @if (errorInvalidPassword$ | async) {
        <p class="user-form__error">
          {{ 'password-reset.invalidPassword' | transloco }}
        </p>
      }

      <button type="submit" (click)="submit()" mat-raised-button color="primary">
        {{ 'general.update' | transloco }}
      </button>
    }

  </div>
</form>
