<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="user-form" limitLargeScreen>
    @if (passwordChanged$ | async) {
      <p>{{ 'password-reset.passwordChanged' | transloco }}</p>
    } @else {
      <h1>{{ 'password-change.desc' | transloco }}</h1>

      <ltm-user-form-password
        [requirements]="pwdRequirements$ | async"
        formControlName="password"
      />

      @if (errorInvalidPassword$ | async) {
        <p class="user-form__error">
          {{ 'password-reset.invalidPassword' | transloco }}
        </p>
      }

      <button type="submit" mat-raised-button>
        {{ 'general.update' | transloco }}
      </button>
    }

  </div>
</form>
