<p [innerHTML]="'plant-add.specieDesc' | transloco"></p>

<mat-form-field appearance="fill" fullWidth>
  <mat-label>{{ 'general.search' | transloco }}</mat-label>
  <input
    #specieInput
    type="text"
    matInput
    [matAutocomplete]="auto"
    [placeholder]="'specieFinder.inputPlaceholder' | transloco"
    (input)="change(specieInput.value)"
    [value]="specieName$ | async"
  />

  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    (optionSelected)="
      selectSpecie($event.option.value.id, $event.option.value.name)
    "
    [displayWith]="getSpecieName"
  >
    @for (specie of results$ | async; track specie.id) {
      <mat-option [value]="specie">
        {{ specie.name }}
      </mat-option>
    }
  </mat-autocomplete>

  @if (specieInput.value) {
    <button matSuffix mat-icon-button (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>
