<p [innerHTML]="'plant-add.specieDesc' | translate"></p>

<form [formGroup]="form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>{{ 'general.search' | translate }}</mat-label>
    <input
      #specieInput
      type="text"
      matInput
      [matAutocomplete]="auto"
      [placeholder]="'specieFinder.inputPlaceholder' | translate"
      (keyup)="keyPress(specieInput.value)"
      [value]="currentSpecieName ? currentSpecieName : null"
    >

    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="selectSpecie($event.option.value.id)"
      [displayWith]="getSpecieName"
    >
      @for (specie of results$ | async; track specie.id) {
        <mat-option [value]="specie">
          {{ specie.name }}
        </mat-option>
      }
    </mat-autocomplete>
    
    @if (specieInput.value) {
      <button matSuffix mat-icon-button (click)="clear(specieInput)">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
</form>