@if (plantService.plant$ | async; as plant) {
  <ltm-edit-page 
    [title]="'general.water' | transloco"
    (accept)="submit()"
  >
    <form [formGroup]="waterForm" method="post" (submit)="submit()">
      <mat-card>
        <mat-card-content>
          <p [innerHTML]="'plant-edit-watering.warning' | transloco"></p>
          <p [innerHTML]="'plant-edit-watering.sensitive' | transloco"></p>
          <p [innerHTML]="'plant-edit-watering.reminder' | transloco"></p>
        </mat-card-content>
      </mat-card>
      
      <div>
        <p [innerHTML]="'plant-edit-watering.lastTime' | transloco"></p>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'general.date' | transloco }}</mat-label>
          <input
            formControlName="waterLast"
            [max]="today"
            matInput
            [matDatepicker]="picker"
          >
          <mat-datepicker-toggle matIconSuffix [for]="picker" />
          <mat-datepicker #picker />
        </mat-form-field>

      </div>

      <mat-divider />

      <div>
        <p [innerHTML]="'plant-edit-watering.nextTime' | transloco"></p>
        <mat-form-field class="full-width">
          <input matInput type="number" formControlName="waterFreq">
        </mat-form-field>
      </div>
    </form>
  </ltm-edit-page>
}
