@if (plantService.plant$ | async; as plant) {
  <ltm-edit-page [title]="'general.water' | transloco">
    <form [formGroup]="waterForm" method="post" (submit)="submit()">
        <p [innerHTML]="'plant-edit-watering.warning' | transloco"></p>
        <p [innerHTML]="'plant-edit-watering.sensitive' | transloco"></p>
        <p [innerHTML]="'plant-edit-watering.reminder' | transloco"></p>
      
      <ltm-settings-card [title]="'plant-edit-watering.lastTime' | transloco">
        <mat-form-field appearance="fill" fullWidth>
          <mat-label>{{ 'general.date' | transloco }}</mat-label>
          <input
            formControlName="waterLast"
            [max]="today"
            matInput
            [matDatepicker]="picker"
          >
          <mat-datepicker-toggle matIconSuffix [for]="picker" />
          <mat-datepicker #picker />
        </mat-form-field>
      </ltm-settings-card>

      <ltm-settings-card [title]="'plant-edit-watering.nextTime' | transloco">
        <mat-form-field fullWidth>
          <input matInput min="0" type="number" formControlName="waterFreq">
        </mat-form-field>
      </ltm-settings-card>
    </form>
  </ltm-edit-page>
}
