@if (plantService.plant$ | async; as plant) {
  <ltm-edit-page 
    [title]="'general.fertilizer' | transloco"
    (accept)="submit()"
  >
    <form [formGroup]="fertForm" method="post" (submit)="submit()">
      <p>{{ 'plant-edit-fertilizer.header' | transloco }}></p>
      
      <div>
        <p [innerHTML]="'plant-edit-fertilizer.lastTime' | transloco"></p>

        <mat-form-field appearance="fill" fullWidth>
          <mat-label>{{ 'general.date' | transloco }}</mat-label>
          <input
            formControlName="fertLast"
            [max]="today"
            matInput
            [matDatepicker]="picker"
          >
          <mat-datepicker-toggle matIconSuffix [for]="picker" />
          <mat-datepicker #picker />
        </mat-form-field>
      </div>

      <mat-divider />

      <div>
        <p [innerHTML]="'plant-edit-fertilizer.nextTime' | transloco"></p>
        <mat-form-field fullWidth>
          <input matInput type="number" formControlName="fertFreq">
        </mat-form-field>
      </div>

      <mat-divider />

      <div>
        <p [innerHTML]="'plant-edit-fertilizer.type' | transloco"></p>
        <mat-form-field fullWidth>
          <input matInput type="text" formControlName="fertType">
        </mat-form-field>
      </div>
    </form>
  </ltm-edit-page>
}