@if (plantService.plant$ | async; as plant) {
  <ltm-edit-page [title]="'general.fertilizer' | transloco">
    <form [formGroup]="fertForm" method="post" (submit)="submit()">
      <p [innerHTML]="'plant-edit-fertilizer.header' | transloco"></p>

      <ltm-settings-card [title]="'plant-edit-fertilizer.lastTime' | transloco">
        <mat-form-field appearance="fill" fullWidth>
          <mat-label>{{ 'general.date' | transloco }}</mat-label>
          <input
            formControlName="fertLast"
            [max]="today"
            matInput
            [matDatepicker]="picker"
          >
          <mat-datepicker-toggle matIconSuffix [for]="picker" />
          <mat-datepicker #picker />
        </mat-form-field>
      </ltm-settings-card>

      <ltm-settings-card [title]="'plant-edit-fertilizer.nextTime' | transloco">
        <mat-form-field fullWidth>
          <input matInput min="0" type="number" formControlName="fertFreq">
        </mat-form-field>
      </ltm-settings-card>

      <ltm-settings-card [title]="'plant-edit-fertilizer.type' | transloco">
        <mat-form-field fullWidth>
          <input matInput type="text" formControlName="fertType">
        </mat-form-field>
      </ltm-settings-card>
    </form>
  </ltm-edit-page>
}
