<form [formGroup]="signinForm" (ngSubmit)="submit()">
  <div class="user-form">
    <h1>{{ 'signin.homepageTitle' | translate }}</h1>
    <p [innerHTML]="'signin.homepageMsg' | translate"></p>

    <mat-form-field>
      <mat-label>{{ 'general.identification' | translate }}</mat-label>
      <input type="text" matInput formControlName="username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'general.password' | translate }}</mat-label>
      <input
        [type]="hidePassword ? 'password' : 'text'"
        matInput
        formControlName="password"
      >
      <button
        mat-icon-button
        matSuffix
        (click)="toggleHidePassword()"
        aria-label="Hide password"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>
          {{ hidePassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>
    </mat-form-field>

    @if (authInvalid) {
      <div class="user-form__error">
        {{ 'signin.invalidCredentials' | translate }}
      </div>
    }

    <button type="submit" mat-raised-button color="primary">
      {{ 'general.signin' | translate }}
    </button>

    <button
      mat-button
      color="link"
      routerLink="/user/recover"
      [innerHTML]="'signin.forgottenPassword' | translate"
    >
    </button>

    <button
      mat-button
      color="link"
      routerLink="/register"
      [innerHTML]="'signin.createAccount' | translate"
    >
    </button>
  </div>
</form>