<form [formGroup]="signinForm" (ngSubmit)="submit()">
  <div class="signin">
    <h1>{{ 'signin.homepageTitle' | translate }}</h1>
    <p [innerHTML]="'signin.homepageMsg' | translate"></p>
    <mat-form-field>
      <mat-label>{{ 'signin.identification' | translate }}</mat-label>
      <input type="text" matInput formControlName="username">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>{{ 'general.password' | translate }}</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div *ngIf="authInvalid" class="signin__error">
      {{ 'signin.invalidCredentials' | translate }}
    </div>

    <button type="submit" mat-raised-button color="primary">{{ 'general.signin' | translate }}</button>
    <button mat-button color="link" routerLink="/register" [innerHTML]="'signin.createAccount' | translate"></button>
  </div>
</form>