# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
.yarn

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/.vscode
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

.angular

# Boring way to keep AndroidManifest.xml and build.gradle
/android/*
!/android/app
/android/app/*
!/android/app/src
/android/app/src/*
!/android/app/src/main
/android/app/src/main/*
!/android/app/src/main/AndroidManifest.xml
!/android/app/build.gradle
