@if (locationService.$location(); as location) {
  <div>
    @if (locationService.$owned()) {
      <ltm-fab [link]="['/plant/create', location.id]" />
    }

    <ltm-info-box>
      @if ($lightAsset(); as lightAsset) {
        <ltm-property [icon]="lightAsset">
          {{ $lightName() | transloco }}
        </ltm-property>
      }

      <ltm-property [icon]="location.public ? 'visibility' : 'visibility_off'">
        {{
          (location.public ? 'general.public' : 'general.private') | transloco
        }}
      </ltm-property>

      <ltm-property icon="forest" data-testid="countProperty">
        @if (plantCount$ | async; as count) {
          {{ 'location.plants' | transloco: { plantCount: count } }}
        } @else {
          {{ 'location.noPlants' | transloco }}
        }
      </ltm-property>
    </ltm-info-box>

    <section>
      <h1 class="centered">{{ 'general.plants' | transloco }}</h1>

      <ltm-plant-list [locationId]="location.id" />
    </section>
  </div>
}
