<div *ngIf="locationService.location$ | async as location" class="location">
  <fab *ngIf="locationService.owned" [link]="['/plant/create', location.id]"></fab>
  <info-box>
    <property [icon]="locationService.getLightAsset(location.light)">
      {{ locationService.getLightName(location.light) | translate }}
    </property>
    <property [icon]="location.public ? 'visibility' : 'visibility_off'">
      {{ (location.public ? 'general.public' : 'general.private') | translate }}
    </property>
    <property icon="forest">
      <ng-container *ngIf="location._count?.plants; else noPlants">
        {{ 'location.plants' | translate:{ plantCount: location._count?.plants } }}
      </ng-container>
      <ng-template #noPlants>
        {{ 'location.noPlants' | translate }}
      </ng-template>
    </property>
  </info-box>

  <h1 class="centered">{{ 'general.plants' | translate }}</h1>
  <plant-list [locationId]="location.id"></plant-list>
</div>