.info-box {
  &__properties {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__divider {
    margin: 10px;
  }

  &__descicon {
    float: left;
    margin-right: 7px;
    margin-top: 6px;
    margin-left: 2px;
    transform: scale(1.5);
  }
  
  &__description {
    font-style: italic;
    text-align: justify;
  }
}