@if (!mt.$hidden()) {
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      @if (toggleSidenav.observers.length > 0) {
        <button
          data-testid="toggleSidenavButton"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="emitToggleSidenav()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      }
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back_ios_new</mat-icon>
      </button>
      <span class="toolbar__title">{{ mt.$name() }}</span>
      <span class="toolbar-spacer"></span>

      @for (b of mt.$buttons(); track b) {
        <button
          mat-icon-button
          (click)="b.click ? b.click() : null"
          [routerLink]="b.route ? b.route : null"
        >
          <mat-icon>{{ b.icon }}</mat-icon>
        </button>
      }

      @if (mt.$menu(); as menuList) {
        @if (menuList.length > 0) {
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            @for (item of menuList; track item) {
              @if (item.length === 1) {
                <button
                  mat-menu-item
                  (click)="item[0].click ? item[0].click() : null"
                  [routerLink]="item[0].route ?? null"
                >
                  <mat-icon>{{ item[0].icon }}</mat-icon>
  
                  @if (item[0].tooltip; as tooltip) {
                    <span>{{ tooltip | transloco }}</span>
                  }
                </button>
              } @else {
                <mat-divider />
                <div class="toolbar__menurow">
                  @for (i of item; track i) {
                    <button
                      mat-mini-fab
                      class="toolbar__menurowitem"
                      (click)="i.click ? i.click() : null"
                      [routerLink]="i.route ?? null"
                      [color]="
                        (i.$selected && i.$selected())  ? 'primary' : 'basic'
                      "
                    >
                      <mat-icon class="toolbar__menurowicon">
                        {{ i.icon }}
                      </mat-icon>
                    </button>
                  }
                </div>
              }
            }
          </mat-menu>
        }

      }
    </mat-toolbar-row>

    @if (search.$enabled()) {
      <mat-toolbar-row color="primary">
        <ltm-search fullWidth />
      </mat-toolbar-row>
    }
  </mat-toolbar>
}
