@if ($location(); as location) {
  <form [formGroup]="form" (submit)="submit()">
    <ltm-edit-page
      [title]="
        'location-add-edit.header' | transloco: { location: location.name }
      "
    >
      <ltm-settings-card [title]="'general.picture' | transloco">
        <p [innerHTML]="'location-add-edit.choose' | transloco"></p>
        <p [innerHTML]="'location-add-edit.ornot' | transloco"></p>

        <ltm-image-selector
          [source]="(newPicture ?? (location.pictures | imagePath:'thumb')) ?? null"
          (selected)="selectImage($event)"
          center="true"
        />
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.name' | transloco">
        <ltm-location-form-name />
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.light' | transloco">
        <ltm-location-form-light />
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.privacy' | transloco">
        <ltm-form-privacy>
          <p [innerHtml]="'location-add-edit.visibility' | transloco"></p>
          <p [innerHtml]="'location-add-edit.visibilityNote' | transloco"></p>
        </ltm-form-privacy>
      </ltm-settings-card>
    </ltm-edit-page>
  </form>
}
