<mat-toolbar *ngIf="(mt.hidden$ | async) == false" color="primary" class="toolbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
    <span class="toolbar__title">{{ mt.name$ | async }}</span>
    <span class="toolbar-spacer"></span>
    <button *ngFor="let b of mt.buttons$ | async"
      mat-icon-button
      (click)="b.click ? b.click() : null"
      [routerLink]="b.route ? b.route : null"
    >
      <mat-icon>{{ b.icon }}</mat-icon>
    </button>

    <ng-container *ngIf="mt.menu$ | async as menuList">
      <button *ngIf="menuList.length > 0" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let item of menuList">
          <ng-container *ngIf="item.length === 1; else menuRow">
            <button
              mat-menu-item
              (click)="item[0].click ? item[0].click() : null"
              [routerLink]="item[0].route ? item[0].route : null"
            >
              <mat-icon>{{ item[0].icon }}</mat-icon>
              <span *ngIf="item[0].tooltip as tooltip">{{ tooltip | translate }}</span>
            </button>
          </ng-container>

          <ng-template #menuRow>
            <mat-divider></mat-divider>
            <div class="toolbar__menurow">
                <button
                  *ngFor="let i of item"
                  mat-mini-fab
                  class="toolbar__menurowitem"
                  (click)="i.click ? i.click() : null"
                  [routerLink]="i.route ? i.route : null"
                  [color]="(i.selected | async) === true ? 'primary' : 'basic'"
                >
                  <mat-icon class="toolbar__menurowicon">{{ i.icon }}</mat-icon>
                  <!-- <span *ngIf="i.tooltip as tooltip">
                    {{ (i.selected | async) === true ? 'v' : '' }}
                    {{ tooltip | translate }}
                  </span> -->
                </button>
              </div>
          </ng-template>
        </ng-container>

      </mat-menu>
    </ng-container>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="search.enabled$ | async" color="primary">
    <search></search>
  </mat-toolbar-row>
</mat-toolbar>