<p>{{ "tasks.msg" | transloco }}</p>
<mat-list limitLargeScreen>
  @for (task of taskService.$tasks(); track task.plantId) {
    <mat-list-item matRipple>
      @if (task.picture) {
        <img
          matListItemAvatar
          [src]="task.picture"
          [alt]="('general.picture' | transloco) + ' - ' + task.plantName"
          [routerLink]="['/plant', task.plantId]"
        />
      } @else {
        <div matListItemAvatar [routerLink]="['/plant', task.plantId]">
          <ltm-image-generator
            [name]="task.plantName"
            width="40"
            height="40"
            responsive="true"
            rounded="true"
          />
        </div>
      }

      <span matListItemTitle [routerLink]="['/plant', task.plantId]">
        {{ task.plantName }}
      </span>

      <div matListItemIcon class="tasks__buttons">
        <ltm-task-button-water
          [id]="task.plantId"
          [disabled]="!!!task.waterNext"
          (done)="taskService.loadTasks()"
        >
        </ltm-task-button-water>

        <ltm-task-button-fertilize
          [id]="task.plantId"
          [disabled]="!!!task.fertNext"
          (done)="taskService.loadTasks()"
        >
        </ltm-task-button-fertilize>
      </div>
    </mat-list-item>
  } @empty {
    <mat-list-item class="centered tasks__notasks">
      <p>{{ 'tasks.noTasks' | transloco }}</p>
    </mat-list-item>
  }
</mat-list>
