<mat-toolbar color="accent" class="bottom-toolbar">
  <button
    data-testid="toggleSidenavButton"
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="emitToggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button type="button" routerLink="/" mat-icon-button>
    <mat-icon>roofing</mat-icon>
  </button>
  <button type="button" routerLink="/plant/all" mat-icon-button>
    <mat-icon>forest</mat-icon>
  </button>
  <button type="button" routerLink="/tasks" mat-icon-button>
    <mat-icon
      [matBadge]="getTaskCount()"
      matBadgeColor="warn"
      aria-hidden="false"
    >
      task
    </mat-icon>
  </button>
  <button type="button" routerLink="/user" mat-icon-button>
    <ltm-user-box />
  </button>
</mat-toolbar>
