@use 'media.scss' as m;

.location-list {

  &__rightbar {
    display: flex;
    z-index: 100;
  }

  &__icon {
    padding: 0.5rem;
  }
}

.mat-badge {
  --mat-badge-background-color: #005cbb;
  --mat-badge-text-color: #ffffff;
}
