@if (owned) {
  <ltm-fab link="/location/create" />
}

@if (locations$ | async; as locations) {
  <div class="location-list">
    @for (item of locations; track item.id) {
      <mat-card class="location-list__item" matRipple>
        <mat-card-header (click)="selectLocation(item.id)">
          <mat-card-title-group>
            <img
              mat-card-sm-image
              [src]="
                item.pictures ? (item.pictures | imagePath:'thumb') : 'assets/nopic.png'
              "
            />
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>
              @if (item._count && item._count.plants > 0) {
                {{
                  'location-list.amount'
                    | transloco: { plantCount: item._count.plants }
                }}
              } @else {
                {{ 'location.noPlants' | transloco }}
              }
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-actions class="location-list__buttonrow">
          <button mat-icon-button color="basic" (click)="openEdit(item.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="openRemoveDialog(item.name, item.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
}
