.location-list {
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  &__item {
    margin: 10px 0;
    max-width: 400px;
  }
  
  &__header {
    background-size: cover;
  }

  &__buttonrow {
    display: flex;

    button:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}