<fab link="/location/create"></fab>
<div *ngIf="locations$ | async as locations" class="location-list">
  <mat-card *ngFor="let item of locations" class="location-list__item" matRipple>
    <mat-card-header (click)="selectLocation(item.id)">
      <mat-card-title-group>
        <img mat-card-sm-image [src]="(item.pictures ? getHeaderPic(item.pictures) : 'assets/nopic.png')">
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle *ngIf="item._count.plants > 0; else noPlants">
          {{ 'location-list.amount' | translate:{ plantCount: item._count.plants } }}
        </mat-card-subtitle>
        <ng-template #noPlants>
          <mat-card-subtitle>
            {{ 'location.noPlants' | translate }}
          </mat-card-subtitle>
        </ng-template>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-actions class="location-list__buttonrow">
      <button mat-raised-button color="primary" (click)="openBottomSheet(item.id)">
        {{ 'general.edit' | translate }}
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="openRemoveDialog(item.name, item.id)"
      >
        {{ 'general.delete' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>