@if (owned) {
  <ltm-fab link="/location/create" />
}

<mat-list limitLargeScreen>
  @for (item of $locations(); track item.id) {
    <mat-list-item matRipple [routerLink]="['/location', item.id]">
      @if (item.pictures) {
        <img
          matListItemAvatar
          [src]="item.pictures | imagePath:'thumb'"
          [alt]="('general.picture' | transloco) + ' - ' + item.name"
        />
      } @else {
        <div matListItemAvatar>
          <ltm-image-generator
            [name]="item.name"
            width="40"
            height="40"
            rounded="true"
          />
        </div>
      }

      <span matListItemTitle>
        {{ item.name }}
      </span>

      <div
        matListItemMeta
        class="location-list__rightbar"
        (click)="stopPropagation($event)"
      >
        @if (item._count && item._count.plants > 0) {
          <mat-icon
            mat-icon-button
            [matBadge]="item._count.plants"
            class="location-list__icon"
            aria-hidden="false"
          >
            forest
          </mat-icon>
        } @else {
          <mat-icon mat-icon-button class="location-list__icon">
            forest
          </mat-icon>
        }

        <button mat-icon-button (click)="openEdit(item)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button (click)="openRemoveDialog(item.name, item.id)">
          <mat-icon class="warning-icon">delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  }
</mat-list>
