<ltm-form-base-action>
  <p [innerHTML]="'location-add-edit.lightInfo' | transloco"></p>
  <p>{{ 'location-add-edit.lightAmount' | transloco }}</p>

  <mat-button-toggle-group
    class="icon-button-toggle"
    formControlName="light"
    hideSingleSelectionIndicator="true"
    #group="matButtonToggleGroup"
  >
    @for (option of $lightOptions(); track option.value) {
      <mat-button-toggle
        [checked]="option.value === group.value"
        [value]="option.value"
      >
        <div class="icon-button-toggle__option">
          <mat-icon>{{ option.asset }}</mat-icon>
          <div>{{ 'light.' + (option.value | lowercase) | transloco }}</div>
        </div>
      </mat-button-toggle>
    }
  </mat-button-toggle-group>

  @if (group.value) {
    <div class="icon-button-toggle__selection">
      {{ 'light.' + (group.value | lowercase) + 'Desc' | transloco }}
    </div>
  }

</ltm-form-base-action>
