<form [formGroup]="form">
  <p [innerHTML]="'location-add-edit.lightInfo' | transloco"></p>
  <p>{{ 'location-add-edit.lightAmount' | transloco }}</p>

  <mat-button-toggle-group
    formControlName="light"
    class="icon-button-toggle"
    #group="matButtonToggleGroup"
  >
    @for (option of lightOptions; track option.value) {
      <mat-button-toggle
        [value]="option.value"
        [checked]="option.value === currentLight"
      >
        <div class="icon-button-toggle__option">
          <mat-icon>{{ option.asset }}</mat-icon>
          <div>{{ 'light.' + (option.value | lowercase) | transloco }}</div>
        </div>
      </mat-button-toggle>
    }
  </mat-button-toggle-group>

  @if (form.get('light')?.value; as light) {
    <div class="icon-button-toggle__selection">
      {{ 'light.' + (group.value | lowercase) + 'Desc' | transloco }}
    </div>
  }
</form>
