@if (data(); as fertData) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'general.fertilizer' | transloco }}
      </mat-panel-title>
      <mat-panel-description class="expansion-panel-icon-right">
        <mat-icon>local_pizza</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    @if (fertData.fertFreq || fertData.fertLast) {
      @if (fertData.fertLast) {
        <p>
          <b>{{ 'general.lastTime' | transloco }}</b> {{ fertData.fertLast | date }}
        </p>
      }

      @if (fertData.fertType) {
        <p>
          <b>{{ 'plant-widget-fertilizer.type' | transloco }}:</b> {{ fertData.fertType }}
        </p>
      }

      @if (fertData.fertFreq) {
        <p
          [innerHTML]="'plant-widget-fertilizer.freq' | transloco:{ days: fertData.fertFreq }"
        >
        </p>
      }

      @if (fertData.fertNext) {
        <p>
          @if (fertData.fertNext | daysAgo:false; as days) {
            <b>{{ 'general.nextTime' | transloco }}</b>
            
            @if (days < 0) {
              <span [ngStyle]="{ 'color': 'red' }">
                {{ 'general.daysAgo' | transloco:{ days: (fertData.fertNext | daysAgo) } }}
              </span>
            } @else {
              {{ 'general.daysCount' | transloco:{ days: (fertData.fertNext | daysAgo) } }}
            }
          }
        </p>
      }
    } @else {
      <p>{{ 'plant-widget-fert.noData' | transloco }}</p>
    }

    @if (owned()) {
      <mat-action-row>
        <button mat-button color="accent" (click)="plantService.openFertDialog(id())">
          {{ 'plant-widget-fert.now' | transloco }}
        </button>
        <button mat-button color="accent" (click)="openEdit()">
          {{ 'general.edit' | transloco }}
        </button>
      </mat-action-row>
    }
  </mat-expansion-panel>
}
