<div class="file-uploader"
  (dragenter)="dragEnter($event)"
  (dragover)="dragEnter($event)"
  (dragleave)="dragLeave($event)"
  (dragend)="dragLeave($event)"
  (drop)="dropFile($event)"
  (dragstart)="$event.preventDefault()"
  [ngClass]="{ 'file-uploader__over': dragOver }"
>

  @if (files.length === 0) {
    <div>
      <b>{{ 'fileUploader.select' | transloco }}</b>
    </div>
  }

  @if (files.length > 0) {
    <div class="file-uploader__picturegrid">

      @for (preview of previews; let i = $index; track preview) {
        <div class="file-uploader__picture">
          <span class="file-uploader__removelink" (click)="removeFile(i)">
            &#10006;
          </span>
          <img
            [src]="preview"
            class="file-uploader__previewimg"
            (load)="revokeUrl(preview)"
          >
        </div>

      }
    </div>
  }
  <input
    #fileInput
    type="file"
    (change)="fileInputChange($event)"
    [disabled]="availableSlots() === 0"
    [multiple]="maxAmount > 1"
    accept="image/*"
    capture
    hidden
  >
  
  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="fileInput.click()"
    [disabled]="availableSlots() === 0"
  >
    {{ 'fileUploader.selectButton' | transloco }}
  </button>

  <form [formGroup]="form">
    @if (removable) {
      <mat-checkbox formControlName="remove">
        {{ 'fileUploader.removeCurrent' | transloco }}
      </mat-checkbox>
    }
  </form>
</div>