<div class="file-uploader"
  (dragenter)="dragEnter($event)"
  (dragover)="dragEnter($event)"
  (dragleave)="dragLeave($event)"
  (dragend)="dragLeave($event)"
  (drop)="dropFile($event)"
  (dragstart)="$event.preventDefault()"
  [ngClass]="{ 'file-uploader__over': dragOver }"
>
  <div *ngIf="files.length === 0">
    <b>{{ 'fileUploader.select' | translate }}</b>
  </div>
  <div *ngIf="files.length > 0" class="file-uploader__picturegrid">
    <div *ngFor="let preview of previews; let i = index" class="file-uploader__picture">
      <span class="file-uploader__removelink" (click)="removeFile(i)">&#10006;</span>
      <img [src]="preview" class="file-uploader__previewimg" (load)="revokeUrl(preview)">
    </div>
  </div>

  <input
    #fileInput
    type="file"
    (change)="fileInputChange($event)"
    [disabled]="availableSlots() === 0"
    [multiple]="amount > 1"
    accept="image/*"
    capture
    hidden
  >

  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="fileInput.click()"
    [disabled]="availableSlots() === 0"
  >
    {{ 'fileUploader.selectButton' | translate }}
  </button>
</div>