<mat-sidenav-container [ngClass]="(themeService.$theme()) + '-theme'">
  @if (isLargeScreen$ | async) {
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      opened="true"
    >
      <mat-toolbar>Little Terrarium</mat-toolbar>
      <mat-nav-list>
        <mat-list-item routerLink="/">
          <mat-icon matListItemIcon>home</mat-icon>
          <span matListItemTitle>{{ 'general.locations' | transloco }}</span>
        </mat-list-item>

        <mat-list-item routerLink="/plant/all">
          <mat-icon matListItemIcon>forest</mat-icon>
          <span matListItemTitle>{{ 'general.plants' | transloco }}</span>
        </mat-list-item>

        <mat-list-item routerLink="/tasks">
          <mat-icon matListItemIcon>task</mat-icon>
          <span matListItemTitle>{{ 'general.tasks' | transloco }}</span>
          <span matListItemLine>
            {{
              'tasks.remaining'
                | transloco: { taskNumber: (taskService.$count()) }
            }}
          </span>
        </mat-list-item>

        @if (auth.user$ | async; as user) {
          <mat-list-item routerLink="/user">
            <div matListItemIcon>
              <ltm-user-box />
            </div>
            <span matListItemTitle>
              {{ user.username }}
            </span>
          </mat-list-item>
        } @else {
          <mat-list-item routerLink="/signin">
            <div matListItemIcon>
              <ltm-user-box />
            </div>
            <span matListItemTitle>
              {{ 'general.signin' | transloco }}
            </span>
          </mat-list-item>
        }
      </mat-nav-list>
    </mat-sidenav>
  }

  <mat-sidenav-content
    #content
    class="sidenav-content"
    bottomScroll
    scrollDetector
    (scrollDirection)="scrolled($event)"
  >
    @if (isLargeScreen$ | async) {
      <header role="heading" class="main-toolbar">
        <ltm-main-toolbar (toggleSidenav)="toggleNav()" />
      </header>
      <main class="main-content main-content--no-bottom" role="main">
        <router-outlet />
      </main>
    } @else {
      <header
        role="heading"
        class="main-toolbar"
        [ngClass]="{ 'main-toolbar--hidden': $hideToolbars() }"
      >
        <ltm-main-toolbar />
      </header>
      <main class="main-content" role="main">
        <router-outlet />
      </main>
      <footer
        role="toolbar"
        class="bottom-toolbar"
        [ngClass]="{ 'bottom-toolbar--hidden': $hideToolbars() }"
      >
        <ltm-bottom-toolbar />
      </footer>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
