.sidenav {
  width: 13rem;

  .mat-toolbar {
    background: inherit;
  }
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  transition: top 0.3s ease-in-out;

  &--hidden {
    top: -100px;
  }
}

.main-content {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 72px;
  margin-left: 20px;
  margin-right: 20px;

  &--no-bottom {
    height: 100% !important;
    margin-bottom: 10px;
  }
}

.bottom-toolbar {
  position: fixed;
  bottom: 0.7rem;
  z-index: 1;
  width: 90%;
  margin: 0 5%;
  transition: bottom 0.3s ease-in-out;

  &--hidden {
    bottom: -100px;
  }
}
