<ltm-form-base-action>
  <p [innerHTML]="'user-edit.fullnameDesc' | transloco"></p>
  <mat-form-field fullWidth>
    <mat-label>{{ 'general.firstname' | transloco }}</mat-label>
    <input
      matInput
      type="text"
      formControlName="firstname"
      placeholder="Greta"
    >
  </mat-form-field>

  <mat-form-field fullWidth>
    <mat-label>{{ 'general.lastname' | transloco }}</mat-label>
    <input
      matInput
      type="text"
      formControlName="lastname"
      placeholder="Plantberg"
    >
  </mat-form-field>
</ltm-form-base-action>