<ng-container *ngIf="auth.checked$ | async">
  <ng-container *ngIf="auth.signedIn$ | async; else notSignedIn">
    <div class="section-header">
      <h1>{{ 'general.locations' | translate }}</h1>
      <p [innerHTML]="'home.locations' | translate"></p>
      <p [innerHTML]="'home.locationsNote' | translate"></p>
    </div>
    <location-list></location-list>
  </ng-container>

  <ng-template #notSignedIn>
    <div class="home">
      <div class="home__signin">
        <signin></signin>
      </div>
    </div>
  </ng-template>
</ng-container>