@if (user$ | async; as user) {
  <div class="profile">
    <div
      class="profile__userbox"
      [ngClass]="{ 'profile__userbox-small': small }"
    >

      @if (user.avatar) {
        <img
          class="profile__avatar"
          [ngClass]="{ 'profile__avatar-small': small }"
          [src]="getAvatar()"
        >
      }

      <h1 class="profile__username">{{ user.username }}</h1>
  
      @if (!small) {
        @if (user.firstname || user.lastname) {
          <h2 class="profile__realnames">{{ getFullName() }}</h2>
        }

        @if (user.bio) {
          <blockquote class="profile__bio">
            {{ user.bio }}
          </blockquote>
        }
      }
  
    </div>
  </div>
}
