<mat-stepper labelPosition="bottom" linear="false" animationDuration="300">
  <mat-step [label]="'general.picture' | translate">
    <p [innerHTML]="'photo-add.addMsg' | translate"></p>
    <p [innerHTML]="'photo-add.addMsgLimit' | translate"></p>

    <file-uploader [amount]="10" (fileChange)="fileChange($event)"></file-uploader>

    <stepper-navigation></stepper-navigation>
  </mat-step>
  
  
  <mat-step [stepControl]="formPrivacy.form" [label]="'general.privacy' | translate">
    <ltm-form-privacy #formPrivacy>
      <p [innerHtml]="'photo-add.visibility' | translate"></p>
      <p [innerHtml]="'photo-add.visibilityNote' | translate"></p>
    </ltm-form-privacy>
    <stepper-navigation finishButton="true" (finish)="submit()"></stepper-navigation>
  </mat-step>
</mat-stepper>