@if (plant$ | async) {
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-stepper labelPosition="bottom" linear="false" animationDuration="300">
      <mat-step [label]="'general.picture' | transloco">
        <p [innerHTML]="'photo-add.addMsg' | transloco"></p>
        <p [innerHTML]="'photo-add.addMsgLimit' | transloco"></p>

        <ltm-file-uploader maxAmount="10" (fileChange)="fileChange($event)" />

        <ltm-stepper-navigation />
      </mat-step>

      <mat-step [label]="'general.privacy' | transloco">
        <ltm-form-privacy>
          <p [innerHtml]="'photo-add.visibility' | transloco"></p>
          <p [innerHtml]="'photo-add.visibilityNote' | transloco"></p>
        </ltm-form-privacy>
        <ltm-stepper-navigation finishButton="true" />
      </mat-step>
    </mat-stepper>
  </form>
}
