<section class="edit-page">
  <header role="heading" class="edit-page__heading">
    <mat-toolbar color="primary" class="edit-page__toolbar">
      <span class="edit-page__title">{{ title() }}</span>
      <span class="toolbar-spacer"></span>
      <button color="accent" mat-mini-fab (click)="acceptChanges()" data-testid="acceptChanges">
        <mat-icon class="edit-page__check">check</mat-icon>
      </button>
    </mat-toolbar>
  </header>

  
  <article class="edit-page__content">
    <ng-content />

    @for (card of cards(); track card) {
      <ng-template [ngTemplateOutlet]="card.template()" />

      @if (!$last) {
        <mat-divider />
      }
    }
  </article>
</section>