@if (photo$ | async; as photo) {
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ltm-edit-page [title]="'photo-edit.header' | transloco">
      <ltm-settings-card [title]="'general.description' | transloco">
        <ltm-photo-form-description />
      </ltm-settings-card>

      <ltm-settings-card [title]="'photo.cover' | transloco">
        <ltm-toggle-option
          [checked]="plantCoverId === photo.id"
          (checkedChange)="updateCoverPhoto($event)"
        >
          {{ "photo.cover" | transloco }}
        </ltm-toggle-option>
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.date' | transloco">
        <ltm-photo-form-date />
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.privacy' | transloco">
        <ltm-form-privacy>
          <p [innerHtml]="'photo-add.visibility' | transloco"></p>
          <p [innerHtml]="'photo-add.visibilityNote' | transloco"></p>
        </ltm-form-privacy>
      </ltm-settings-card>
    </ltm-edit-page>
  </form>
}
