@if (plantService.plant$ | async; as plant) {
  <ltm-edit-page 
    [title]="'general.soil' | transloco"
    (accept)="submit()"
  >
    <form [formGroup]="potForm" method="post">
      <ltm-settings-card [title]="'plant-edit-soil.potDesc' | transloco">
        <p [innerHTML]="'plant-edit-soil.material' | transloco"></p>

        <article class="pot-selector">
          @for (pot of pots; track pot.id) {
            <div
              class="pot-selector__material"
              (click)="selectPot(pot.id)"
              [ngClass]="{
                'pot-selector__material-selected': selectedPot === pot.id
              }"
            >
              <img [src]="pot.asset" [alt]="(pot.name | transloco)">
              <p>{{ pot.name | transloco }}</p>
            </div>
          }
        </article>
      </ltm-settings-card>


      <ltm-settings-card [title]="'plant-edit-soil.size' | transloco">
        <mat-form-field fullWidth>
          <input matInput type="number" formControlName="potSize">
        </mat-form-field>

        <mat-radio-group formControlName="potSizeUnits">
          <mat-radio-button value="cm">
            {{ 'general.cm' | transloco }}
          </mat-radio-button>
          <mat-radio-button value="in">
            {{ 'general.in' | transloco }}
          </mat-radio-button>
        </mat-radio-group>
      </ltm-settings-card>

      <ltm-settings-card [title]="'plant-edit-soil.composition' | transloco">
        <mat-form-field fullWidth>
          <input matInput type="text" formControlName="soil">
        </mat-form-field>
      </ltm-settings-card>
    </form>
  </ltm-edit-page>
}