<form [formGroup]="form">
  <p>{{ 'plant-edit.health' | translate }}</p>

  <mat-button-toggle-group formControlName="condition" class="icon-button-toggle">
    <mat-button-toggle
      *ngFor="let condition of plantConditions | keyvalue: noSort"
      [value]="condition.key"
    >
      <div class="icon-button-toggle__option">
        <mat-icon [ngStyle]="{ 'color': plantService.getConditionColor(condition.key) }">circle</mat-icon>
        <div></div>
      </div>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="icon-button-toggle__selection">
    {{ getFormConditionDesc() }}
  </div>

</form>