.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.main-content {
  height: calc(100vh - 56px*2);
  margin: 10px 20px 0 20px;
  overflow-y: scroll;
}