@if (user$ | async; as user) {
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ltm-edit-page [title]="'user-edit.header' | transloco">
      <ltm-settings-card [title]="'general.username' | transloco">
        <ltm-user-form-username />
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.fullname' | transloco">
        <ltm-user-form-name />
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.avatar' | transloco">
        <p [innerHTML]="'user-edit.avatarDesc' | transloco"></p>

        <ltm-image-selector
          [source]="(newAvatar ?? (user.avatar | imagePath:'thumb')) ?? null"
          (selected)="selectImage($event)"
          center="true"
        />
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.email' | transloco">
        <ltm-user-form-email />
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.bio' | transloco">
        <ltm-user-form-bio />
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.privacy' | transloco">
        <ltm-form-privacy />
      </ltm-settings-card>

    </ltm-edit-page>
  </form>
}
