<ltm-form-base-action>
  <p>{{ 'plant-edit.health' | transloco }}</p>

  <mat-button-toggle-group
    formControlName="condition"
    class="icon-button-toggle"
    #group="matButtonToggleGroup"
  >
    @for (condition of conditions; track condition.id) {
      <mat-button-toggle
        [checked]="condition.id === group.value"
        [value]="condition.id"
      >
        <div class="icon-button-toggle__option">
          <mat-icon [ngStyle]="{ 'color': condition.color }">
            circle
          </mat-icon>
        </div>
      </mat-button-toggle>
    }
  </mat-button-toggle-group>

  @if (group.value) {
    <div class="icon-button-toggle__selection">
      {{ ('condition.' + group.value | lowercase ) | transloco }}
    </div>
  }

</ltm-form-base-action>
