@if (data(); as waterData) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'general.watering' | transloco }}
      </mat-panel-title>
      <mat-panel-description class="expansion-panel-icon-right">
        <mat-icon>water_drop</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    @if (waterData.waterFreq || waterData.waterLast) {
      @if (waterData.waterLast) {
        <p>
          <b>{{ 'general.lastTime' | transloco }}</b> {{ waterData.waterLast | date }}
        </p>
      }

      @if (waterData.waterFreq) {
        <p
          [innerHTML]="'plant-widget-water.freq' | transloco:{ days: waterData.waterFreq }"
        >
      </p>
      }

      @if (waterData.waterNext) {
        <p>
          @if (waterData.waterNext | daysAgo:false; as days) {
            <b>{{ 'general.nextTime' | transloco }}</b>
            
            @if (days < 0) {
              <span [ngStyle]="{ 'color': 'red' }">
                {{ 'general.daysAgo' | transloco:{ days: (waterData.waterNext | daysAgo) } }}
              </span>
            } @else {
              {{ 'general.daysCount' | transloco:{ days: (waterData.waterNext | daysAgo) } }}
            }
          }
        </p>
      }
    } @else {
      <p>{{ 'plant-widget-water.noData' | transloco }}</p>
    }
  
    @if (owned()) {
      <mat-action-row>
        <button mat-button (click)="plantService.openWaterDialog(id())">
          {{ 'plant-widget-water.now' | transloco }}
        </button>
        <button mat-button (click)="openEdit()">
          {{ 'general.edit' | transloco }}
        </button>
      </mat-action-row>
    }
  </mat-expansion-panel>
}