@if (plant$ | async; as plant) {
  @if (plantService.$owned(); as owned) {
    <ltm-fab [link]="['/photo/create', plant.id]" />
  }
  
  
  <ltm-info-box [description]="plant.description">
    @if (plant.specie && plant.specie.name) {
      <ltm-property icon="grass">
        {{ plant.specie.name | capitalize }}
      </ltm-property>
    }
    @if ($conditionColor(); as conditionColor) {
      <ltm-property icon="cardiology" [iconColor]="conditionColor">
        {{ $conditionDesc() | transloco }}
      </ltm-property>
    }

    <ltm-property [icon]="plant.public ? 'visibility' : 'visibility_off'">
      {{ (plant.public ? 'general.public' : 'general.private') | transloco }}
    </ltm-property>
  </ltm-info-box>

  <ltm-plant-expansion-info
    [$plant]="plant"
    [$owned]="this.plantService.$owned()"
  />

  <section>
    <h1 class="centered">{{ 'general.pictures' | transloco }}</h1>

    <ltm-photo-list [plantId]="this.id" />
  </section>
}
