<ng-container *ngIf="plantService.plant$ | async as plant">
  <fab *ngIf="plantService.owned" [link]="['/photo/create', plant.id]"></fab>
  <info-box>
    <property *ngIf="plant.condition" icon="circle" [iconColor]="getConditionColor(plant.condition)">
      {{ plantCondition[plant.condition] }}
    </property>
    <property [icon]="plant.public ? 'visibility' : 'visibility_off'">
      {{ plant.public ? ('general.public' | translate) : ('general.private' | translate) }}
    </property>
  </info-box>

  <h1>{{ 'plant.photoList' | translate:{ plantName: plant.visibleName } }}</h1>

  <photo-list [owned]="this.plantService.owned" [plantId]="plant.id" [list]="plant.photos"></photo-list>
</ng-container>
