@if (plantService.plant$ | async; as plant) {
  @if (plantService.owned) {
    <ltm-fab [link]="['/photo/create', plant.id]" />
  }

  <ltm-info-box [description]="plant.description">
    @if (plant.specie && plant.specie.name) {
      <ltm-property icon="grass">
        {{ plant.specie.name | capitalize }}
      </ltm-property>
    }

    @if (plant.condition) {
      <ltm-property
        icon="circle"
        [iconColor]="plantService.getConditionColor(plant.condition)"
      >
        {{ plantCondition[plant.condition] }}
      </ltm-property>
    }

    <ltm-property [icon]="plant.public ? 'visibility' : 'visibility_off'">
      {{ (plant.public ? 'general.public' : 'general.private') | translate }}
    </ltm-property>
  </ltm-info-box>

  <ltm-plant-expansion-info />

  <h1 class="centered">{{ 'general.pictures' | translate }}</h1>

  <ltm-photo-list [owned]="this.plantService.owned" [plantId]="this.id" />
}
