@if ($form) {
  <ng-container [formGroup]="$form()">
    <p [innerHTML]="'user-edit.usernameDesc' | transloco"></p>
    <!-- FIXME: show requirements -->
    <mat-form-field fullWidth>
      <mat-label>{{ 'general.username' | transloco }}</mat-label>
      <input matInput type="text" formControlName="username">

      @if ($errorTaken()) {
        <mat-error>{{ 'user-register.usernameTaken' | transloco }}</mat-error>
      }

      @if ($errorInvalid()) {
        <mat-error>{{ 'user-register.usernameInvalid' | transloco }}</mat-error>
      }

    </mat-form-field>
  </ng-container>
}
