
<mat-stepper labelPosition="bottom" editable="true" animationDuration="300">
  <mat-step [stepControl]="formName" [errorMessage]="'general.required' | translate" [label]="'general.name' | translate">
    <form [formGroup]="formName">
      <p [innerHTML]="'location-add-edit.name' | translate"></p>
      <p [innerHTML]="'location-add-edit.nameTip' | translate"></p>
      <mat-form-field>
        <input
          formControlName="name"
          matInput
          [placeholder]="'location-add-edit.namePlaceholder' | translate"
          [value]="(!createNew && location) ? location.name : null"
        >
      </mat-form-field>

      <stepper-navigation backButton="false"></stepper-navigation>
    </form>
  </mat-step>

  <mat-step optional="true" [label]="'general.picture' | translate">
      <p [innerHTML]="'location-add-edit.choose' | translate"></p>
      <p [innerHTML]="'location-add-edit.ornot' | translate"></p>

      <file-uploader [amount]="1" (fileChange)="fileChange($event)"></file-uploader>

      <stepper-navigation></stepper-navigation>
  </mat-step>

  <mat-step [stepControl]="formLight" [label]="'general.light' | translate">
    <form [formGroup]="formLight">
      <p [innerHTML]="'location-add-edit.lightInfo' | translate"></p>
      <p>{{ 'location-add-edit.lightAmount' | translate }}</p>

      <mat-button-toggle-group formControlName="light" class="icon-button-toggle">
        <mat-button-toggle
          *ngFor="let option of lightOptions | keyvalue"
          [value]="option.key"
          [checked]="location && (option.key === location.light)"
        >
          <div class="icon-button-toggle__option">
            <mat-icon>{{ locationService.getLightAsset(option.key) }}</mat-icon>
            <div>{{ option.value.desc }}</div>
          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div class="icon-button-toggle__selection">
      <!-- FIXME: hell no, remove those ! -->
        {{ locationService.getLightVerbose(formLight.get('light')!.value!) }}
      </div>

      <stepper-navigation></stepper-navigation>
    </form>
  </mat-step>

  <mat-step [stepControl]="formPublic" [label]="'general.privacy' | translate">
    <form [formGroup]="formPublic" (ngSubmit)="submit()">
      <p [innerHtml]="'location-add-edit.visibility' | translate"></p>
      <p [innerHtml]="'location-add-edit.visibilityNote' | translate"></p>

      <mat-checkbox formControlName="public" [checked]="location && (location.public)">
        {{ 'general.visibilityPublic' | translate }}
      </mat-checkbox>

      <stepper-navigation submitButton="false"></stepper-navigation>
    </form>
  </mat-step>
</mat-stepper>
