<form [formGroup]="form">
  <p [innerHTML]="'user-register.passwordDesc' | transloco"></p>

  @if (requirements(); as requirements) {
    <p>{{ 'user-register.passwordReq' | transloco }}</p>
    <ul>
      <li [ngClass]="{ 'errmsg': form.errors && form.errors['minLength'] }">
        <span
          [innerHTML]="'user-register.passwordLength' | transloco:{ length: requirements.minLength }"
        >
        </span>
      </li>

      @if (requirements.requireUppercase) {
        <li [ngClass]="{ 'errmsg': form.errors && form.errors['missingUppercase'] }">
          {{ 'user-register.passwordUppercase' | transloco }}
        </li>
      }

      @if (requirements.requireNumber) {
        <li [ngClass]="{ 'errmsg': form.errors && form.errors['missingNumber'] }">
          {{ 'user-register.passwordNumber' | transloco }}
        </li>
      }

      @if (requirements.requireNonAlphanumeric) {
        <li [ngClass]="{ 'errmsg': form.errors && form.errors['missingNonAlphanumeric'] }">
          {{ 'user-register.passwordAlphanum' | transloco: { chars: nonAlphaNumChars } }}
        </li>
      }
    </ul>
  }

  <mat-form-field fullWidth>
    <mat-label>{{ 'user-register.passwordInput' | transloco }}</mat-label>
    <input
      #password
      matInput
      (input)="change($event)"
      [type]="hidePassword ? 'password' : 'text'"
      [disabled]="disabled"
      formControlName="password"
    >

    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="toggleHidePassword()"
      aria-label="Hide password"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field fullWidth>
    <mat-label>
      {{ 'user-register.passwordInputRepeat' | transloco }}
    </mat-label>
    <input
      matInput
      (input)="changeSecondInput(password)"
      [type]="hidePassword2 ? 'password' : 'text'"
      [disabled]="disabled"
      formControlName="password2"
    >

    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="toggleHidePassword(2)"
      aria-label="Hide password"
      [attr.aria-pressed]="hidePassword2"
    >
      <mat-icon>{{ hidePassword2 ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>
  
  @if (form.errors && form.errors['different']) {
    <mat-error>{{ 'user-form-password.passwordDifferent' | transloco }}</mat-error>
  }
</form>
