<form [formGroup]="form">
  <p [innerHTML]="'user-register.passwordDesc' | translate"></p>

  @if (hasPasswordConditions()) {
    <p>{{ 'user-register.passwordReq' | translate }}</p>
    <ul>
      <li [ngClass]="{ 'errmsg': hasPasswordError('minLength') }">
        <span
          [innerHTML]="'user-register.passwordLength' | translate:{ length: pwdReq?.minLength }"
        >
        </span>
      </li>

      @if (pwdReq.requireUppercase) {
        <li [ngClass]="{ 'errmsg': hasPasswordError('missingUppercase') }">
          {{ 'user-register.passwordUppercase' | translate }}
        </li>
      }

      @if (pwdReq.requireNumber) {
        <li [ngClass]="{ 'errmsg': hasPasswordError('missingNumber') }">
          {{ 'user-register.passwordNumber' | translate }}
        </li>
      }

      @if (pwdReq.requireNonAlphanumeric) {
        <li [ngClass]="{ 'errmsg': hasPasswordError('missingNonAlphanumeric') }">
          {{ 'user-register.passwordAlphanum' | translate: { chars: nonAlphaNumChars } }}
        </li>
      }
    </ul>
  }

  <ng-container formGroupName="passwordCheck">
    <mat-form-field class="full-width">
      <mat-label>{{ 'user-register.passwordInput' | translate }}</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>
        {{ 'user-register.passwordInputRepeat' | translate }}
      </mat-label>
      <input matInput type="password" formControlName="password2">
    </mat-form-field>
    
    @if (hasPasswordError('different')) {
      <mat-error>{{ 'user-form-password.passwordDifferent' | translate }}</mat-error>
    }
  </ng-container>
</form>
