.current-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__container {
    position: relative;
  }

  &__image {
    border: 1px solid red;
    width: 12rem;
    height: auto;
  }
}

.close-button {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
}
