<div class="plant-list">
  <mat-card *ngFor="let plant of list$ | async" matRipple class="plant-card">

    <ng-container *ngIf="!small; else smallCard">
      <img mat-card-image class="plant-card__image" [src]="getImgUrl(plant)" [routerLink]="['/plant', plant.id]">
      <mat-card-header class="plant-card__header" [routerLink]="['/plant', plant.id]">
        <mat-card-title class="plant-card__title">
          {{ getName(plant) }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-footer>
        <ng-container [ngTemplateOutlet]="plantToolbar"></ng-container>
      </mat-card-footer>
    </ng-container>

    <ng-template #smallCard>
      <mat-card-header [routerLink]="['/plant', plant.id]">
        <mat-card-title-group>
          <mat-card-title class="plant-card__title">{{ getName(plant) }}</mat-card-title>
          <img mat-card-sm-image [src]="getImgUrl(plant)">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-footer>
        <ng-container [ngTemplateOutlet]="plantToolbar"></ng-container>
      </mat-card-footer>
    </ng-template>

    
    <ng-template #plantToolbar>
      <plant-toolbar
        (remove)="openRemoveDialog(getName(plant), plant.id)"
        (edit)="openEdit(plant.id)"
      ></plant-toolbar>
    </ng-template>
  </mat-card>
  

</div>