@if ($listView()) {
  <mat-list>
    @for (item of $list(); track item.id) {
      <mat-list-item>
        <img
          matListItemAvatar
          class="plant-list__avatar"
          [src]="item.cover"
          [alt]="('general.picture' | transloco) + ' - ' + item.name"
          [routerLink]="['/plant', item.id]"
        >
        <span matListItemTitle [routerLink]="['/plant', item.id]">
          {{ item.name }}
        </span>
        <div matListItemIcon class="plant-list__menu">
          <ng-container
            [ngTemplateOutlet]="plantMenu"
            [ngTemplateOutletContext]="{ item }"
          >
          </ng-container>
        </div>
      </mat-list-item>
    }
  </mat-list>
} @else {
  <mat-grid-list cols="2" rowHeight="1:1.2" gutterSize="6">

    @for (item of $list(); track item.id) {
      <mat-grid-tile>
        <mat-card matRipple class="plant-card">
          <img
            mat-card-image
            class="plant-card__image"
            [src]="item.cover"
            [alt]="('general.picture' | transloco) + ' - ' + item.name"
            [routerLink]="['/plant', item.id]"
          >
          <mat-card-title class="plant-card__title">
            {{ item.name }}
          </mat-card-title>
          <div class="plant-card__menu">
            <ng-container
              [ngTemplateOutlet]="plantMenu"
              [ngTemplateOutletContext]="{ item }"
            >
            </ng-container>
          </div>
        </mat-card>
      </mat-grid-tile>
    }

  </mat-grid-list>
}

<ng-template let-item="item" #plantMenu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ltm-plant-menu-water [id]="item.id" />
    <ltm-plant-menu-fert [id]="item.id" />
    <button mat-menu-item (click)="openEdit(item.id)">
      <mat-icon>edit_square</mat-icon>
      <span>{{ 'general.edit' | transloco }}</span>
    </button>
    <button mat-menu-item (click)="openRemoveDialog(item.name, item.id)">
      <mat-icon>delete</mat-icon>
      <span>{{ 'general.delete' | transloco }}</span>
    </button>
  </mat-menu>
</ng-template>
