@if (smallView) {
  <mat-list>
    @for (plant of list$ | async; track plant.id) {
      <mat-list-item>
        <img
          matListItemAvatar
          class="plant-list__avatar"
          [src]="getImgUrl(plant)"
          [routerLink]="['/plant', plant.id]"
        >
        <span matListItemTitle [routerLink]="['/plant', plant.id]">
          {{ getName(plant) }}
        </span>
        <div matListItemIcon class="plant-list__menu">
          <ng-container
            [ngTemplateOutlet]="plantMenu"
            [ngTemplateOutletContext]="{plant:plant}"
          >
          </ng-container>
        </div>
      </mat-list-item>
    }
  </mat-list>
} @else {
  <mat-grid-list cols="2" rowHeight="1:1.2" gutterSize="6">

    @for (plant of list$ | async; track plant.id) {
      <mat-grid-tile>
        <mat-card matRipple class="plant-card">
          <img
            mat-card-image
            class="plant-card__image"
            [src]="getImgUrl(plant)"
            [routerLink]="['/plant', plant.id]"
          >
          <mat-card-title class="plant-card__title">
            {{ getName(plant) }}
          </mat-card-title>
          <div class="plant-card__menu">
            <ng-container
              [ngTemplateOutlet]="plantMenu"
              [ngTemplateOutletContext]="{ plant: plant }"
            >
            </ng-container>
          </div>
        </mat-card>
      </mat-grid-tile>
    }

  </mat-grid-list>
}

<ng-template let-plant="plant" #plantMenu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ltm-plant-menu-water [id]="plant.id" />
    <ltm-plant-menu-fert [id]="plant.id" />
    <button mat-menu-item (click)="openEdit(plant.id)">
      <mat-icon>edit_square</mat-icon>
      <span>{{ 'general.edit' | transloco }}</span>
    </button>
    <button mat-menu-item (click)="openRemoveDialog(getName(plant), plant.id)">
      <mat-icon>delete</mat-icon>
      <span>{{ 'general.delete' | transloco }}</span>
    </button>
  </mat-menu>
</ng-template>