<article #grid class="photo-list" [ngStyle]="{
  'grid-template-columns': 'repeat(auto-fit, ' + breakpoint + 'px)'
}">
  @for (photo of (list$ | async | sort:'takenAt':'desc'); track photo.id) {
    <article class="photo-list__box" [ngStyle]="{
      'width': breakpoint + 'px',
      'height': breakpoint + 'px',
    }">
      <a [routerLink]="['/photo', photo.id]">
        <img
          [src]="photo.images | imagePath:'thumb'"
          [alt]="('general.picture' | transloco) + ' - ' + photo.description"
        />
      </a>
    </article>
  }
</article>
