<div class="photo-list">
  @for (photo of (list$ | async | sort:'takenAt':'desc'); track photo.id) {
    <article class="photo-list__box">
      <a [routerLink]="['/photo', photo.id]">
        <img
          [src]="photo.images | imagePath:'thumb'"
          [alt]="('general.picture' | transloco) + ' - ' + photo.description"
        />
      </a>
    </article>
  }

  <!-- FIXME: hacky; proper css to prevent the gallery from hiding under the bottom toolbar -->
  <div class="photo-list__box"></div>
  <div class="photo-list__box"></div>
  <div class="photo-list__box"></div>
</div>