.photo-list {
  position: absolute;
  left: 0;
  margin-bottom: 72px;
  width: 100%;
  display: grid;

  &::after {
    margin-bottom: 72px;
    content: '';
  }

  &__img {
    width: 100%;
    height: auto;
  }
}
