@use 'themes/light.scss';
@use 'ngx-toastr/toastr';

@mixin border-style {
  border-width: 1px !important;
  border-color: rgba(0,0,0,.2) !important;
  border-style: solid;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-expansion-panel {
  @include border-style();
}

mat-card {
  @include border-style();

  margin: 6px 0;
}

.icon-button-toggle {
  width: 98%;

  &__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 5px 0;
  }

  &__selection {
    text-align: center;
  }

  mat-button-toggle {
    width: 100%;
  }
}

mat-bottom-sheet-container {
  min-height: 80vh;
}

.full-width {
  width: 100%;
}

.tab-navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;

  button {
    margin: 0 2px;
  }
}

.centered {
  text-align: center;
}

.expansion-panel-icon-right {
  flex: 0 !important;
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel-content {
  font: inherit !important;
}

// mat-stepper, .mat-horizontal-stepper-wrapper, .mat-horizontal-content-container, .mat-horizontal-stepper-content {
//   height: 100% !important;
// }