<p>{{ 'tasks.msg' | transloco }}</p>
<mat-list>

  @for (task of taskService.tasks$ | async; track task.plantId) {
    <mat-list-item matRipple>
      <img
        matListItemAvatar
        [src]="task.picture"
        [routerLink]="['/plant', task.plantId]"
      >

      <span matListItemTitle [routerLink]="['/plant', task.plantId]">
        {{ task.plantName }}
      </span>

      <div matListItemIcon class="tasks__buttons">
        <ltm-plant-button-water
          [id]="task.plantId"
          [disabled]="!!(!task.waterNext)"
          (done)="taskService.loadTasks()"
        >
        </ltm-plant-button-water>

        <ltm-plant-button-fertilize
          [id]="task.plantId"
          [disabled]="!!(!task.fertNext)"
          (done)="taskService.loadTasks()"
        >
        </ltm-plant-button-fertilize>
      </div>
    </mat-list-item>
  } @empty {
    <mat-list-item class="centered tasks__notasks">
      <p>{{ 'tasks.noTasks' | transloco }}</p>
    </mat-list-item>
  }

</mat-list>