@if (plant$ | async; as plant) {
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ltm-edit-page 
      [title]="'plant-edit.header' | transloco:{ plantName: plant.visibleName }"
    >
      <ltm-settings-card [title]="'general.name' | transloco">
        <ltm-plant-form-name />
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.description' | transloco">
        <ltm-plant-form-description />
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.specie' | transloco">
        <ltm-plant-form-specie formControlName="specieId" />
      </ltm-settings-card>

      <ltm-settings-card [title]="'plant-edit.condition' | transloco">
        <ltm-plant-form-condition />
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.location' | transloco">
        <ltm-plant-form-location />
      </ltm-settings-card>

      <ltm-settings-card [title]="'general.privacy' | transloco">
        <ltm-form-privacy>
          <p [innerHtml]="'plant-add.privacy' | transloco"></p>
          <p [innerHtml]="'plant-add.privacyTip' | transloco"></p>
        </ltm-form-privacy>
      </ltm-settings-card>
    </ltm-edit-page>
  </form>
}
