<mat-toolbar class="plant-toolbar">
  <mat-toolbar-row class="plant-toolbar__row">
    <button mat-icon-button class="button__water" (click)="water.emit()">
      <mat-icon>water_drop</mat-icon>
    </button>
    <button mat-icon-button class="button__fert" (click)="fertilise.emit()">
      <mat-icon>local_pizza</mat-icon>
    </button>
    <button mat-icon-button class="button__edit" (click)="edit.emit()">
       <!-- (click)="openEdit(plant.id)"> -->
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="remove.emit()">
     <!-- (click)="openRemoveDialog(getName(plant), plant.id)"> -->
      <mat-icon>delete_forever</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>