<mat-toolbar class="plant-toolbar">
  <mat-toolbar-row class="plant-toolbar__row">
    <plant-button-water [id]="this.id"></plant-button-water>
    <plant-button-fertilize [id]="this.id"></plant-button-fertilize>
    <button mat-icon-button class="button__edit" (click)="edit.emit()">
       <!-- (click)="openEdit(plant.id)"> -->
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="remove.emit()">
     <!-- (click)="openRemoveDialog(getName(plant), plant.id)"> -->
      <mat-icon>delete_forever</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>