<div class="viewer">
  <mat-toolbar class="viewer__toolbar">
    <button mat-icon-button (click)="data.close()">
      <mat-icon class="viewer__closeicon">close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="viewer__content">
    <img
      #photo
      class="viewer__pic"
      draggable="false"
      (load)="imageLoaded()"
      (doubletap)="doubleTap($event)"
      (pinchend)="pinchEnd($event)"
      (pinchmove)="pinchMove($event)"
      (panmove)="panMove($event)"
      (panend)="panEnd($event)"
      [src]="data.src"
    >
  </div>
</div>
