@if (plantService.plant$ | async; as plant) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'plant-widget-soil.title' | translate }}
      </mat-panel-title>
      <mat-panel-description class="expansion-panel-icon-right">
        <mat-icon>yard</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    @if (plant.potType || plant.soil) {
      @if (plant.potType) {
        <p>
          <span
            [innerHTML]="'plant-widget-soil.pot' | translate:{ material: getPotName() }">
          </span>

          @if (plant.potSize) {
            ,
            <span
              [innerHTML]="'plant-widget-soil.potSize' | translate: { size: plant.potSize | unit:'cm' }"
            >
            </span>

          }

        </p>
      }

      @if (plant.soil) {
        <p
          [innerHTML]="'plant-widget-soil.composition' | translate: { soil: plant.soil }">
        </p>
      }
    } @else {
      <p>{{ 'plant-widget-soil.noData' | translate }}</p>
    }

    @if (plantService.owned) {
      <mat-action-row>
        <button mat-button color="primary" (click)="openEdit()">
          {{ 'general.edit' | translate }}
        </button>
      </mat-action-row>
    }
  </mat-expansion-panel>
}