@if (data(); as pot) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "plant-widget-soil.title" | transloco }}
      </mat-panel-title>
      <mat-panel-description class="expansion-panel-icon-right">
        <mat-icon>potted_plant</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    @if (pot.potType) {
      @if ($potName(); as potName) {
        <p
          *transloco="let t"
          [innerHTML]="
            'plant-widget-soil.potMaterial'
              | transloco: { material: t(potName) }
          "
        >
        </p>
      }

      @if (pot.potSize) {
        <p
          [innerHTML]="
            'plant-widget-soil.potSize'
              | transloco: { size: pot.potSize | unit: 'cm' }
          "
        >
        </p>
      }

      @if (pot.soil) {
        <p
          [innerHTML]="
            'plant-widget-soil.composition' | transloco: { soil: pot.soil }
          "
        ></p>
      }
    } @else {
      <p>{{ 'plant-widget-soil.noData' | transloco }}</p>
    }

    @if (owned()) {
      <mat-action-row>
        <button mat-button (click)="openEdit()">
          {{ 'general.edit' | transloco }}
        </button>
      </mat-action-row>
    }
  </mat-expansion-panel>
}
