<mat-stepper
  [(selectedIndex)]="$stepperIndex"
  labelPosition="bottom"
  linear="true"
  animationDuration="300"
>
  <mat-step
    [stepControl]="usernameForm"
    [label]="'general.username' | transloco"
  >
    <form [formGroup]="usernameForm">
      <ltm-user-form-username />
    </form>
    <ltm-stepper-navigation backButton="false" />
  </mat-step>

  <mat-step
    [stepControl]="emailForm"
    [label]="'general.email' | transloco"
  >
    <form [formGroup]="emailForm">
      <ltm-user-form-email />
    </form>
    <ltm-stepper-navigation />
  </mat-step>

  <mat-step
    [stepControl]="passwordForm"
    [label]="'general.password' | transloco"
  >
    <form [formGroup]="passwordForm">
      <ltm-user-form-password
        [requirements]="pwdRequirements$ | async"
        formControlName="password"
      />
    </form>
    <ltm-stepper-navigation finishButton="true" (finish)="submit()" />
  </mat-step>
</mat-stepper>
