<div class="user-form">

  @if (passwordChanged) {
    <p>
      {{ 'password-reset.passwordChanged' | transloco }}
    </p>
  } @else if (errorInvalidToken) {
    <p class="user-form__error">
      {{ 'password-reset.invalidToken' | transloco }}
    </p>
  } @else {
    <h1>{{ 'password-reset.desc' | transloco }}</h1>

    <ltm-user-form-password #formPassword />

    @if (errorInvalidPassword) {
      <p class="user-form__error">{{ 'password-reset.invalidPassword' | transloco }}</p>
    }

    <button type="submit" (click)="submit()" mat-raised-button color="primary">
      {{ 'general.update' | transloco }}
    </button>
  }

</div>