<form [formGroup]="userForm" (ngSubmit)="submit()">
  <div class="user-form">
    <p>{{ 'password-recovery.info' | transloco }}</p>

    <mat-form-field>
      <mat-label>{{ 'general.identification' | transloco }}</mat-label>
      <input type="text" matInput formControlName="userRef">
    </mat-form-field>

    
    <button type="submit" mat-raised-button color="primary">
      {{ 'password-recovery.button' | transloco }}
    </button>
    
    @if (checkError) {
      <div class="user-form__error">
        {{ 'password-recovery.error' | transloco }}
      </div>
    }

    @if (recoveryStarted) {
      <div>
        {{ 'password-recovery.success' | transloco }}
      </div>
    }
  </div>
</form>