<div class="stepper-navigation">
  @if (backButton) {
    <button
      type="button"
      color="primary"
      mat-raised-button
      matStepperPrevious
    >
      {{ 'general.previous' | translate }}
    </button>
  }

  @if (finishButton) {
    <button
      color="primary"
      mat-raised-button
      (click)="emitFinish()"
    >
      {{ 'general.finish' | translate }}
    </button>
  } @else {
    <button
      type="button"
      color="primary"
      mat-raised-button
      matStepperNext
    >
      {{ 'general.next' | translate }}
    </button>
  }
</div>