<div class="stepper-navigation">
  @if (backButton()) {
    <button
      data-testid="prevbutton"
      type="button"
      color="primary"
      mat-raised-button
      matStepperPrevious
    >
      {{ 'general.previous' | transloco }}
    </button>
  }

  @if (finishButton()) {
    <button
      data-testid="finishbutton"
      color="primary"
      mat-raised-button
      (click)="emitFinish()"
    >
      {{ 'general.finish' | transloco }}
    </button>
  } @else {
    <button
      data-testid="nextbutton"
      type="button"
      color="primary"
      mat-raised-button
      matStepperNext
    >
      {{ 'general.next' | transloco }}
    </button>
  }
</div>