<form [formGroup]="form">
  <p [innerHTML]="'user-edit.emailDesc' | transloco"></p>
  <mat-form-field class="full-width">
    <mat-label>{{ 'general.email' | transloco }}</mat-label>
    <input matInput type="email" formControlName="email">

    @if (isTaken()) {
      <mat-error>
        {{ 'user-register.emailTaken' | transloco }}
      </mat-error>
    }

    @if (isInvalid()) {
      <mat-error>
        {{ 'user-register.emailInvalid' | transloco }}
      </mat-error>
    }
  </mat-form-field>
</form>