<mat-toolbar color="primary">
  <button type="button" mat-icon-button>
    <mat-icon aria-label="Side nav toggle icon">roofing</mat-icon>
  </button>
  <button type="button" mat-icon-button>
    <mat-icon aria-label="Side nav toggle icon">forest</mat-icon>
  </button>
  <button type="button" mat-icon-button>
    <mat-icon aria-label="Side nav toggle icon">task</mat-icon>
  </button>
  <button type="button" mat-icon-button>
    <mat-icon aria-label="Side nav toggle icon">account_circle</mat-icon>
  </button>
</mat-toolbar>
