@if (auth.user$ | async; as user) {
  <ltm-profile [user]="user"/>

  <mat-nav-list class="user-main" limitLargeScreen [width]="400">
    <mat-list-item matRipple (click)="openEdit()">
      <mat-icon matListItemIcon>edit</mat-icon>
      <span matListItemTitle>{{ 'userbox.profile' | transloco }}</span>
    </mat-list-item>

    <mat-list-item [routerLink]="['/terrarium', user.username]" matRipple>
      <mat-icon matListItemIcon>theaters</mat-icon>
      <span matListItemTitle>{{ 'userbox.terrarium' | transloco }}</span>
    </mat-list-item>

    <mat-list-item routerLink="/user/change" matRipple>
      <mat-icon matListItemIcon>password</mat-icon>
      <span matListItemTitle>{{ 'userbox.changePassword' | transloco }}</span>
    </mat-list-item>

    <mat-divider />

    <mat-list-item>
      <ltm-theme-switcher />
    </mat-list-item>
    
    <mat-list-item>
      <ltm-lang-switcher />
    </mat-list-item>

    <mat-divider />
    
    <mat-list-item routerLink="/logout" matRipple>
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>{{ 'general.logout' | transloco }}</span>
    </mat-list-item>

  </mat-nav-list>
}
