@if (location$ | async) {
  <mat-stepper labelPosition="bottom" linear="false" animationDuration="300">
    <mat-step
      [stepControl]="customNameForm"
      optional="true"
      [label]="'general.name' | transloco"
    >
      <ng-container [formGroup]="customNameForm">
        <ltm-plant-form-name />
      </ng-container>
      <ltm-stepper-navigation backButton="false" />
    </mat-step>

    <mat-step
      [stepControl]="specieIdForm"
      optional="true"
      [label]="'general.specie' | transloco"
    >
      <form [formGroup]="specieIdForm">
        <ltm-plant-form-specie formControlName="specieId" />
      </form>
      <ltm-stepper-navigation />
    </mat-step>

    <mat-step optional="true" [label]="'general.picture' | transloco">
      <p [innerHTML]="'photo-add.addMsg' | transloco"></p>
      <p [innerHTML]="'photo-add.addMsgLimit' | transloco"></p>

      <form [formGroup]="photoForm">
        <ltm-file-uploader maxAmount="10" formControlName="photos" />
      </form>

      <ltm-stepper-navigation />
    </mat-step>


    <mat-step
      [stepControl]="privacyForm"
      [label]="'general.privacy' | transloco"
    >
      <ng-container [formGroup]="privacyForm">
        <ltm-form-privacy>
          <p [innerHtml]="'plant-add.privacy' | transloco"></p>
          <p [innerHtml]="'plant-add.privacyTip' | transloco"></p>
        </ltm-form-privacy>
      </ng-container>

      <ltm-stepper-navigation finishButton="true" (finish)="submit()" />
    </mat-step>
  </mat-stepper>
}