@if (locationId) {
  <mat-stepper labelPosition="bottom" linear="false" animationDuration="300">
    <mat-step
      [stepControl]="formName.form"
      optional="true"
      [label]="'general.name' | translate"
    >
      <ltm-plant-form-name #formName />
      <ltm-stepper-navigation backButton="false" />
    </mat-step>

    <mat-step
      [stepControl]="formSpecie.form"
      optional="true"
      [label]="'general.specie' | translate"
    >
      <ltm-plant-form-specie #formSpecie />
      <ltm-stepper-navigation />
    </mat-step>

    <mat-step optional="true" [label]="'general.picture' | translate">
      <p [innerHTML]="'photo-add.addMsg' | translate"></p>
      <p [innerHTML]="'photo-add.addMsgLimit' | translate"></p>

      <ltm-file-uploader maxAmount="10" (fileChange)="fileChange($event)" />

      <ltm-stepper-navigation />
    </mat-step>


    <mat-step
      [stepControl]="formPrivacy.form"
      [label]="'general.privacy' | translate"
    >
      <ltm-form-privacy #formPrivacy>
        <p [innerHtml]="'plant-add.privacy' | translate"></p>
        <p [innerHtml]="'plant-add.privacyTip' | translate"></p>
      </ltm-form-privacy>

      <ltm-stepper-navigation finishButton="true" (finish)="submit()" />
    </mat-step>
  </mat-stepper>
}