@if (language.$list().length > 1) {
  <ltm-inline-control [name]="'general.language' | transloco">
    <mat-form-field appearance="outline" class="lang-switcher">
      <mat-select
        #select
        (selectionChange)="language.setLang(select.value)"
        [value]="language.$current()"
      >
        @for (lang of language.$list(); track lang.id) {
          <mat-option [value]="lang.id">
            {{ lang.label }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </ltm-inline-control>
}
